:root {
    --primary: #4f46e5;
    --primary-dark: #3730a3;
    --background: #f4f5fa;
    --text: #222;
    --card: #fff;
    --accent: #6366f1;

    --bg-dark: #121212;
    --card-dark: #1e1e1e;
    --text-dark: #eaeaea;
}

body {
    font-family: "Poppins", "Segoe UI", sans-serif;
    background: var(--background);
    color: var(--text);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 0.3s ease;
}

.container {
    width: 100%;
    max-width: 600px;
    background: var(--card);
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    transition: background 0.3s ease, color 0.3s ease;
}

h2 {
    text-align: center;
    color: var(--primary);
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
    outline: none;
}

button {
    width: 100%;
    padding: 14px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.logout {
    background: #ef4444;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f3f4f6;
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

body.dark {
    background: var(--bg-dark);
    color: var(--text-dark);
}

body.dark .container {
    background: var(--card-dark);
}

body.dark input {
    background: #2a2a2a;
    color: #fff;
    border-color: #444;
}

body.dark li {
    background: #2a2a2a;
    color: #eaeaea;
}

body.dark a {
    color: #818cf8;
}
